<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Shop</title>
</head>
<body>
<div id="main">
    <h1 id="username">Alik</h1>
    <h1>Online magazin</h1>
    <div id="catalog">
        <h2>Catalog</h2>
    </div>
</div>
<script src="https://telegram.org/js/telegram-web-app.js"></script>
<script>
    let tg = window.Teleram.WebApp;
    document.getElementById('username').innerHTML = "12345";
</script>


</body>
</html>