{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Design by foolishdeveloper.com -->
    <title>Login Page</title>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
    <!--Stylesheet-->
    <link rel="stylesheet" href="{% static 'authorization/css/login.css' %}">
    {#    <style media="screen">#}
    {#        #}
    {#    </style>#}
</head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<script src="{% static 'authorization/js/login.js' %}"></script>
<body>
<div class="background">
    <div class="shape"></div>
    <div class="shape"></div>
</div>
<form method="post">
    <h3>Login Here</h3>
    {% csrf_token %}
    <label for="username">Username</label>
    <input type="text" placeholder="Enter Username" id="username" name="username">

    <label for="password">Password</label>
    <input type="password" placeholder="Password" id="password" name="pass">

    <button type="submit">Log In</button>
</form>

<button id="submit">Click</button>
</body>
</html>
